<!-- <p-slideMenu > -->


<!-- </p-slideMenu>  -->



<div>
    <div class="pb-3" routerLink='all-products'>
        <button routerLinkActive="p-button-info" pButton pRipple type="button" label="All products" class="p-button-outlined p-button-secondary ml-2" ></button>        
    </div>
    <div class="pb-3"  routerLink='selected-products'>
        <button routerLinkActive="p-button-info" pButton pRipple type="button" label="Favorites" icon="pi pi-star"  class="p-button-outlined p-button-secondary ml-2"></button>        
    </div>
</div>  